<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGA7VBQfYXwVu37t38_c_GQxaY5qxFPjM</string>
	<key>GCM_SENDER_ID</key>
	<string>1091873203585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.airBandb-clon-A</string>
	<key>PROJECT_ID</key>
	<string>airbnba-8a614</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnba-8a614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091873203585:ios:71bc094c9af187ae80b480</string>
</dict>
</plist>